/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
//Layers 

#define Base 0
#define Lower 1
#define Raise 2
#define Funct 3

// #define block
// #define SCSH &kp LS(LG(NUMBER_4))

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lslc: lslc {
            compatible = "zmk,behavior-tap-dance";
            label = "LSLC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_SHIFT>, <&kp LCTRL>;
        };

        rsra: rsra {
            compatible = "zmk,behavior-tap-dance";
            label = "RSRA";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RIGHT_SHIFT>, <&kp RALT>;
        };

        mo13: mo13 {
            compatible = "zmk,behavior-tap-dance";
            label = "MO13";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&mo 3>;
        };
    };

    macros {
        ae: ae {
            compatible = "zmk,behavior-macro";
            label = "AE";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp A>;
        };

        oe: oe {
            compatible = "zmk,behavior-macro";
            label = "OE";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp O>;
        };

        ue: ue {
            compatible = "zmk,behavior-macro";
            label = "UE";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp U>;
        };
    };

    combos {
        compatible = "zmk,combos";

        FunctSwitch {
            bindings = <&kp CAPSLOCK>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base";
            bindings = <
&kp TAB   &kp Q  &kp W  &kp E  &kp R               &kp T            &kp Y        &kp U  &kp I      &kp O    &kp P     &kp GRAVE
&kp LALT  &kp A  &kp S  &kp D  &kp F               &kp G            &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp ENTER
&lslc     &kp Z  &kp X  &kp C  &kp V               &kp B            &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &rsra
                        &mo13  &mt LEFT_GUI MINUS  &lt 3 BACKSPACE  &lt 4 SPACE  &mo 2  &mo13
            >;
        };

        lower_layer {
            label = "Lower";
            bindings = <
&kp ESC    &trans             &trans    &kp UP                    &trans                &trans         &kp APOSTROPHE     &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3  &kp PLUS   &kp DEL
&kp LCTRL  &kp LC(LG(SPACE))  &kp LEFT  &kp DOWN                  &kp RIGHT             &trans         &kp DOUBLE_QUOTES  &kp NUMBER_4   &kp NUMBER_5  &kp NUMBER_6  &kp MINUS  &kp RETURN
&kp LSHFT  &trans             &trans    &kp LS(LC(LG(NUMBER_4)))  &kp LS(LG(NUMBER_4))  &trans         &trans             &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL  &trans
                                        &trans                    &kp LEFT_GUI          &kp BACKSPACE  &kp SPACE          &kp RIGHT_ALT  &kp NUMBER_0
            >;
        };

        raise_layer {
            label = "Raise";
            bindings = <
&kp ESC    &kp EXCL      &kp AT        &kp HASH       &kp DLLR       &kp PRCNT             &kp CARET  &kp AMPS       &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &ae           &kp RA(S)     &oe            &ue            &kp LS(LA(NUMBER_2))  &kp GRAVE  &kp MINUS      &kp BSLH         &kp LBKT  &kp RBKT  &kp RETURN
&kp LSHFT  &kp LG(LEFT)  &kp LA(LEFT)  &kp RA(RIGHT)  &kp LG(RIGHT)  &trans                &kp UNDER  &kp PLUS       &kp PIPE         &kp LBRC  &kp RBRC  &kp TILDE
                                       &trans         &kp DELETE     &kp LG(BACKSPACE)     &kp SPACE  &kp RIGHT_ALT  &trans
            >;
        };

        funct_layer { //bluetooth and magnet shortcuts
            label = "Funct";
            bindings = <
&kp RC(F1)  &trans        &trans        &trans        &trans        &trans        &trans         &trans            &kp LA(LC(U))  &kp LA(LC(I))  &trans             &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans         &kp LA(LC(LEFT))  &kp LA(LC(J))  &kp LA(LC(K))  &kp LA(LC(RIGHT))  &kp LA(LC(RETURN))
&trans      &trans        &trans        &kp C_VOL_DN  &kp C_VOL_UP  &trans        &kp LA(LC(D))  &kp LA(LC(E))     &kp LA(LC(F))  &kp LA(LC(T))  &kp LA(LC(G))      &trans
                                        &trans        &trans        &trans        &trans         &trans            &trans
            >;
        };

        handy_layer { // arc browser shortcuts + misc
            label = "Shots";
            bindings = <
&trans  &kp ESCAPE  &trans    &trans       &trans             &trans             &trans             &trans                 &trans             &trans         &trans     &trans
&trans  &trans      &trans    &kp LS(TAB)  &kp TAB            &kp LG(TAB)        &kp LS(LG(LA(K)))  &kp LG(LS(SEMICOLON))  &kp LA(LS(LG(C)))  &kp LA(LG(G))  &kp ENTER  &trans
&trans  &kp LSHFT   &kp LALT  &kp LCTRL    &kp LGUI           &trans             &trans             &kp RGUI               &kp RCTRL          &kp RALT       &kp RSHFT  &trans
                              &trans       &kp LG(BACKSPACE)  &kp LA(BACKSPACE)  &trans             &trans                 &trans
            >;
        };
    };
};
